@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');
html{
    height: 100%;
}
a:visited{
    color: inherit;
    text-decoration: none;
}
body{
    background-color: #E8E4D6;
    min-height: 100vh;
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
header{
    background-color: #760063;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border: none;
    width: 100vw;
    position: relative;
    margin-top: -7px;
}
.nome-header{
    margin-left: 3%;
}
#nome-header{
    font-family: "Allerta", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #E8E4D6;
}
main{
    height: 100vh;
    position: relative;
    width: 100vw;
}
.linha{
    height: auto;
    display: flex;
    margin-top: 2%;
    width: 100vw;
}
.stories-container {
    display: flex;
    overflow-x: auto;
    border-bottom: 2px solid #760063;
    padding: 10px;
    height: 9%;
}

.stories-container .content{
    display: flex;
    display: inline;
    margin: 0;
    text-align: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease-in;
    width: 5rem;
    justify-content: space-between;
    justify-content: center;

}

.stories-container .content:hover{
    transform: scale(1.1);
}

.stories-container .content .img-container{
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;

}
.stories-container .content .img-container img{
    display: block;
    width: 4rem;
    height: 100%;
    object-fit: cover;
    clip-path: circle(42%);
}
.text-container{
    width: 4rem;
    position: relative;
    font-size: 15px;
    align-items: center;
}
.coluna{
    float: left;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}
.pequena{
    flex: 1;
}
.grande{
    flex: 2;
}
.coluna:not(:first-child){
    border-left: 3px solid #760063;
}
.coluna.grande {
    overflow-y: auto;
    padding: 10px;
    width: 300px;
    height: auto;
}
#nome-usuario{
    margin: 0;
}
.painel-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    border-bottom: 3px #760063 solid;
}
#imagem-perfil{
    border-radius: 75%;
    width: 13vw;
    height: 100%;

}
#seguindo-seguidores{
    display: flex;
    flex-direction: row;    
}
#seguindo-seguidores div{
    padding: 10px;
}
.coluna.pequena.esquerda{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}
.coluna.pequena.esquerda a{
    width: 200px;
    text-align: left;
    background: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 0 0 10px;

}
.coluna.pequena.esquerda a:hover{
    background-color: black;
    color: #E8E4D6;
    font-family: "Allerta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
.coluna.pequena.esquerda a p{
    font-family: "Allerta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
.coluna.pequena.esquerda a i{
    font-size: 30px;
}

#perfil-button{
    border: 2px black solid
}
#notificacao-button{
    border: 2px black solid
}
#criar-button{
    border: 2px black solid
}
#pesquisar-button{
    border: 2px black solid;
    background-color: black;
    color: #E8E4D6;
}
#home-button{
    border: 2px black solid
}
.coluna.pequena.direita{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.coluna.pequena.direita section{
    width: 45%;
    height: 50px;
}
.coluna.pequena.direita section:hover{
    background-color: black;
    color: #E8E4D6;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 45%;
}
.coluna.pequena.direita a{
    position: relative;
    height: 50px;
}
.coluna.pequena.direita p{
    font-family: "Allerta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-top: 10px;
}
.mensagem{
    display: flex;
    align-items: center;
}

.mensagem img{
    width: 50px;
    height: auto;
    margin-right: 10px;
    border-radius: 50%;
}

.mensagem button{
    background-color: black;
    color: #E8E4D6;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size: 15px;
    padding: 10px 15px;
}

.sugerido{
    display: flex;
    align-items: center;
}

.sugerido img{
    width: 50px;
    height: auto;
    margin-right: 10px;
    border-radius: 50%;
}

.sugerido button{
    background-color: black;
    color: #E8E4D6;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size: 15px;
    padding: 10px 15px;
}

footer{
    background-color: #760063;
    height: 5vh;
    border: none;
    margin-bottom: 0;
    width: 100vw;
}

#botao-seguir {
    padding: 10px;
    border: 2px solid #760063;
    border-radius: 4px;
    background-color: #760063;
    cursor: pointer;
    color: #E8E4D6;
}

#botao-seguir:hover {
    background-color: #E8E4D6;
    color: #760063;
}